body {
    font-family: Arial; /*Fuente del Texto*/
    margin: 0; /*Elimina margen externo por defecto*/
    background: #111; /*Color de fondo*/
    color: white; /*Color del texto*/
}

header {
    background: rgb(0, 0, 128); /*Color de fondo del encabezado*/
    text-align: center; /*Centrar texto horizontalmente*/
    padding: 20px; /*Espacio interno alrededor del contenido*/
}

.juegos {
    padding: 20px; /*Espacio interno alrededor del contenido*/
    text-align: center; /*Centrar texto horizontalmente*/
}

.juegos h2 {
    width: 100%; /*Ocupa todo el ancho disponible*/
    margin-bottom: 20px; /*Espacio debajo del título*/
}

.card {
    display: inline-block; /*Permite poner elementos en línea con tamaño de bloque*/
    background: #222; /*Color de fondo de la tarjeta*/
    padding: 15px; /*Espacio interno*/
    border-radius: 10px; /*Bordes redondeados*/
    text-align: center; /*Centra el contenido dentro*/
    width: 220px; /*Ancho fijo*/
    margin: 10px; /*Espacio externo entre tarjetas*/
    margin-left: 30px;
    margin-right: 30px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.videos {
    text-align: center; /*Centra el contenido*/
    padding: 20px; /*Espacio interno*/
}

video, iframe {
    width: 300px; /*Ancho de los elementos multimedia*/
    margin: 10px; /*Espacio alrededor*/
}

.formulario {
    text-align: center; /*Centra el contenido*/
    padding: 20px; /*Espacio interno*/
}

form {
    display: flex; /*Usa modelo flexible*/
    flex-direction: column; /*Organiza los elementos en columna*/
    width: 300px; /*Ancho del formulario*/
    margin: auto; /*Centra el formulario horizontalmente*/
}

input, textarea {
    font-family: Arial; /*Fuerza Fuente Arial (En el TextArea)*/
    box-sizing: border-box;
    margin: 5px 0; /*Espacio vertical entre campos*/
    padding: 10px; /*Espacio interno*/
}

button {
    background: rgb(0, 0, 128); /*Color de fondo*/
    color: white; /*Color del texto*/
    padding: 10px; /*Espacio interno*/
    border: none; /*Elimina el borde*/
}

@media (max-width: 768px) {
    .card {
        display: block; /*Hace que cada tarjeta ocupe toda la línea*/
        margin: 10px auto; /*Centra y separa las tarjetas*/
    }
}
